<html>
<body style="background-color:DarkSlateGrey;">
<br>
<label style="color: white;font-size: 20px;border-style: solid;border-color: white;padding: 10px 10px">Type your query!!</label>
<br><br><br>
<form  method="post">
<textarea rows = "16" cols = "90" name="myValue">What is the class average?</textarea>
<br><br>
<input type="submit" value="Submit Query!" style="font-size: 16px;padding: 15px 20px;color: black;background-color:white;">
</form>
<br><br><br>
<label style="color: white;font-size: 20px;">OUTPUT</label>
<br><br><br>
<label style="color: white;font-size: 15px;border-style: solid;border-color: white;padding: 10px 10px">Query Results : </label>
<br><br>
<textarea rows = "10" cols = "80" style="color: black;font-size: 15px;border-style: solid;border-color: white;padding: 10px 10px">{{output}}</textarea>
<br><br><br>
</body>
</html>